<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >
        <name>The new Test App</name>
        <description>
            Learning PhoneGap can be fun
        </description>
        <author href="https://build.phonegap.com" email="mfirdausAR@yahoo.com" >
            DausRedSOx
        </author>
        <content src="index.html" />
        <access origin="*" />
		
		  <icon src="1.png" />
		  <gap:splash src="1.png" />
		  
		  <feature name="http://api.phonegap.com/1.0/file" /> <!-- feature for permission see the file -->
		  
		  <gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" /> <!-- Plugin for notification -->
		  <gap:plugin name="org.apache.cordova.camera" version="0.3.2" /> <!-- Plugin for camera -->
		  <gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" /> <!-- Plugin for accelerometer -->
		  
    </widget>